@font-face {
  font-family: pRune;
  src: url(/font/pixelrunes.ttf);
  font-style: monospace;
}
@font-face {
  font-family: pixelop;
  src: url(/font/pixeloperator.woff2);
  font-style: monospace;
}
.hi {
  display: inline-block;
  max-width: 100%;
  word-wrap: break-word;
  font-family: pixelop;
  white-space: pre-wrap;
}
.buts {
  max-width: 25%;
  display: inline-block;
}
.tex {
  max-width: 65%;
  max-height: 50%;
  height: 250px;
  width: 65%;
  background-color:white;
  color:black;
}
.gamesbutton {
  background-image: linear-gradient(to right, red, orange, yellow, green, cyan, violet);
  color: purple;
}
.gamesbutton:hover {
  cursor: pointer;
}
.savebutton {
  background-color: green;
  color: black;
}
img {
  image-rendering: pixelated;
}
body {
  background-color: gray;
  color: black;
}
button {
  background-color:lightgray;
  color: black;
}